<div class="d-flex px-5 py-3 justify-content-around">
    @for(sortParameter of sortedByList; track sortParameter){
    <button class="btn btn-outline-success" (click)="onSortBy(sortParameter)"
        [ngClass]="{'active': sortParameter === sortedBy()}">
        sort by {{sortParameter}}
    </button>
    }
    @for(order of orderList; track order) {
    <button class="btn btn-outline-success" (click)="onSort(order)" [ngClass]="{'active': order === orderBy()}">
        <i class="bi" [ngClass]="{'bi-sort-up': order === 'Asc', 'bi-sort-down' : order === 'Desc'}"></i>
    </button>
    }
</div>

<ul class="list-group list-group-flush border-0 ">
    @for(project of projects(); track project){
    <li class="list-group-item text-success-emphasis p-2 fs-5 text bg-opacity-50 border-0">
        {{project.name}}
        @for(task of sortedTasks(); track task){
        @if(project.id === task.project_id){
        <ul class="list-group list-group-flush">
            <li class="list-group-item text-success-emphasis border-bottom border-success">
                <div class="form-check">
                    <input (change)="onCheck(task)" class="form-check-input bg-success bg-opacity-75"
                        [(ngModel)]="task.is_completed" type="checkbox" [value]="task.is_completed"
                        name="task.is_completed" [id]="task.id">
                    <label class="form-check-label d-flex justify-content-between" [for]="task.id">
                        <span class="me-3 w-50"
                            [ngStyle]="{ textDecoration: task.is_completed ? 'line-through' : '' }">{{task.content}}
                            <i class="bi bi-flag-fill ms-3" [ngClass]="priorityFlag[task.priority-1]"></i>
                        </span>

                        <div class="w-50">
                            <div class="d-flex">
                                <span class="fs-6 fw-light align-self-center">{{task.due?.date}}</span>
                                <button class="btn border-0 ps-2 pe-0" [routerLink]="'task-detail/'+ task.id">
                                    <i class="bi bi-three-dots"></i>
                                </button>
                                <button class="btn border-0" [routerLink]="'edit-task/'+ task.id">
                                    <i class="bi bi-pencil"></i>
                                </button>
                            </div>

                            <button class="btn btn-success" (click)="onTaskSelected(task)">
                                <span> {{taskSelected() === task ? 'show less' : 'show more'}}</span>
                                <i class="bi ms-1"
                                    [ngClass]="{'bi-chevron-up' : taskSelected() === task, 'bi-chevron-down': taskSelected() !== task}"></i>
                            </button>
                        </div>
                    </label>
                </div>
                @if(taskSelected() === task) {
                <div class="mt-2 border-top border-success">
                    <div class="mt-3">
                        <div class="d-flex">
                            <h5 class="text-success mt-2">Content</h5>
                            <button class="btn btn-outline-success btn-sm ms-5" (click)="onLiveEdit()">Live
                                Edit</button>
                        </div>
                        <p>{{task.content}}</p>
                    </div>
                    <div class="mt-3">
                        <div class="d-flex">
                            <h5 class="text-success mt-2">Description</h5>
                            <button class="btn btn-outline-success btn-sm ms-5">Live Edit</button>
                        </div>
                        <p>{{task.description}}</p>
                    </div>
                    <div class="mt-3">
                        <div class="d-flex">
                            <h5 class="text-success mt-2">Date</h5>
                            <button class="btn btn-outline-success btn-sm ms-5">Live Edit</button>
                        </div>
                        <p class="fs-6">{{task.due?.date}}</p>
                    </div>

                    <div class="mt-3">
                        <div class="d-flex">
                            <h5 class="text-success mt-2">Priority</h5>
                            <button class="btn btn-outline-success btn-sm ms-5">Live Edit</button>
                        </div>
                        <i class="bi bi-flag-fill ms-3" [ngClass]="priorityFlag[task.priority-1]"></i>
                    </div>
                </div>
                }
            </li>
        </ul>
        }
        }
    </li>
    }
</ul>