<ul class="list-group list-group-flush border-0">
    <p class="text-end  mt-1 pe-4">
        <button class="btn">
            <span>sort by date</span><i class="bi bi-sort-up ms-2"></i>
        </button>
    </p>
    @for(project of projects$ | async; track project){
    <li class="list-group-item text-success-emphasis p-2 fs-5 text bg-opacity-50 border-0">
        {{project.name}}
        @for(task of tasks$ | async; track task){
        @if(project.id === task.project_id){
        <ul class="list-group list-group-flush">
            <li class="list-group-item text-success-emphasis border-bottom border-success">
                <div class="form-check">
                    <input (change)="onCheck(task)" class="form-check-input bg-success bg-opacity-75"
                        [(ngModel)]="task.is_completed" type="checkbox" [value]="task.is_completed"
                        name="task.is_completed" [id]="task.id">
                    <label class="form-check-label d-flex justify-content-between" [for]="task.id">
                        <span class="me-3 w-50"
                            [ngStyle]="{ textDecoration: task.is_completed ? 'line-through' : '' }">{{task.content}}</span>
                        <div class="w-50">
                            <span class="fs-6 fw-light align-self-center">{{task.due?.date}}</span>
                            <button class="btn border-0 ms-4" [routerLink]="'task-detail/'+ task.id">
                                <i class="bi bi-three-dots"></i>
                            </button>
                            <button class="btn border-0" [routerLink]="'edit-task/'+ task.id">
                                <i class="bi bi-pencil"></i>
                            </button>
                        </div>
                    </label>
                </div>
            </li>
        </ul>
        }
        }
    </li>
    }
</ul>