<div class="mt-4 px-3" style="max-width: 32rem;">
    @if(taskDetail$ | async; as task) {
    <div class="d-flex justify-content-between">
        <p class="fs-5">{{task.content}}</p>
        <button class="btn border-0 ms-4" [routerLink]="'/edit-task/'+ task.id">
            <i class="bi bi-pencil"></i>
        </button>
    </div>

    @for(project of projects$ | async; track project){
    @if(task.project_id === project.id) {
    <p>{{project.name}}</p>
    }
    }
    <p>{{task.due?.date}}</p>
    }
</div>
<app-go-back-btn></app-go-back-btn>