<div class="vh-100 vw-100 bg-success bg-opacity-10 d-flex justify-content-center align-items-center">
  <div class="card border border-3 border-success p-2 border-opacity-50" style="width: 20rem;">
    <div class="card-header bg-success p-3 text-white fw-semibold bg-opacity-75 rounded">
      TODO LIST
    </div>
    <ul class="list-group list-group-flush">
      @for(task of tasks$ | async; track task) {
      <li class="list-group-item text-success-emphasis border-bottom border-success">{{task.content}}</li>
      }
    </ul>
  </div>
</div>