<form #form="ngForm" (ngSubmit)="onFormSubmitted(form)">
    <div class="mt-4 px-3">
        <div class="mb-3">
            <label for="task" class="form-label text-success">Add new task</label>
            <input type="text" class="form-control text-success" id="task" placeholder="new task" name="content"
                required [(ngModel)]="task.content" #content="ngModel">
        </div>
        <select class=" form-select text-success" aria-label="Default select example" name="projectId" required
            [(ngModel)]="task.project_id" #projectId="ngModel">
            <option selected>Select Project</option>
            @for(project of projects$ | async; track project.id){
            <option value="{{project.id}}">
                {{project.name}}
            </option>
            }
        </select>
        <div class="my-3">
            <input type="date" class="form-control text-success" id="taskDueDate" placeholder="due date"
                name="taskDueDate" required [min]="minDate" [(ngModel)]="task.due_date" #taskDueDate="ngModel">
        </div>
    </div>
    <div class="d-flex justify-content-center">
        <button type="submit" class="px-5 btn my-3 bg-success text-white fw-semibold bg-opacity-75"
            [disabled]="form.invalid" routerLink="/">Add task</button>
    </div>
</form>
<app-go-back-btn></app-go-back-btn>